.booking-section {
  padding: 80px 0;
  background-color: #ffffff;
}

.booking-step {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.datepicker-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.time-slot-btn {
  width: 100px;
}

.alert-success {
    border-color: #a1da5f;
    background-color: #f0f9e8;
    color: #333;
}